html,body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.header,.default {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container{   
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px; 
    margin : 0 auto 0;
    padding: 0.5rem;
}
.individualContainer{

    display: flex;
    background-color:white;
    text-align: center;
    flex: 1;
}

[class^="row"]{
    flex: 1;
    outline: 1px solid red;
    transition: background-color 0.2s;
   
}
[class^="row"]:hover,
[class^="row"].hover-active {
    background-color: black;
}


